/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    width: 800px;
    border: 1px solid black;
    margin: 25px 25px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 250px;
    height: auto;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid black;
}

h1 {
    margin-top: 10px;
}

.bio, .projects {
    margin-bottom: 20px;
    border: 2px solid black;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: purple;
}

ul {
    list-style-type: none;
}

h2 {
    color: darkgreen;
}

footer {
    text-align: center;
    margin-top: 20px;
}
